<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.Reporting"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="iNetBankingV5">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="test.cases.TC_LoginTest_001">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
            <!--
                <class name="test.cases.TC_LoginDDT_002">
                    <methods>
                        <include name="loginData"/>
                    </methods>
                </class>
            -->
            <class name="test.cases.TC_AddCustomerTest_003">
                <methods>
                    <include name="addNewCustomer"/>
                </methods>
            </class>

            <class name="test.cases.TC_EditCustomerTest_004">
                <methods>
                    <include name="editCustomerWithId"/>
                    <!--      <include name="editCustomerWithoutId"/>    -->
                    <include name="validateHomeNavigation"/>
                </methods>
            </class>
            <class name="test.cases.TC_DeleteCustomerTest_005"/>
            <class name="test.cases.TC_NewAccountTest_006"/>
        </classes>
    </test>
</suite>